<html>
<head>
</head>
<body>

<form action = "" method = "post">
{% csrf_token %}

Worker: <select name = "worker">
<option value = 0>All Workers</option>
{% for worker in workers %}

	<option value = "{{worker.id}}">{{worker.name}}</option>

{% endfor %}
</select>

Category: <select name = "category">
<option value = "Any">Any</option>
<option value = "None">None</option>
{% for category in categories %}

	<option value = "{{category}}">{{category}}</option>

{% endfor %}
</select>
Task: <input type = "text" name = "task">
Start date: <input type = "text" name = "start">
End date:<input type = "text" name = "stop">
<input type = "submit" value = "Submit">
</form>

</body>
</html>